html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent
}

body {
	line-height: 1;
	font-family: arial
	background: #E5FDC3;
	animation: mymove 15s infinite;
}

h1 {
	font-size: 25px
}

h2 {
	font-size: 21px;
	text-decoration: underline;
}

h3 {
	font-size: 18px
}

h4 {
	font-size: 16px
}

section {
	display: block
}

header {
	background: green;
	padding: 10px 30px;
	margin: auto;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 999;
	height: 40px;
}

@keyframes mymove {
	from {background-color: #E5FDC3;}
	to {background-color: #44ADA8;}
	
}

nav ul li a {
	background: #fff;
	padding: 2px 6px;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	color: #344;
	border-radius: 5px
}


nav ul li {
	display: inline-block;
	margin: 10px
}

article {
	border-bottom: 2px dotted #998;
	padding-bottom: 20px;
	margin-bottom: 20px
}

article h2 {
	font-weight: normal;
	margin-bottom: 12px
}

footer {
	background: #344;
	max-width: 1000px;
	margin: 0 -20px;
	clear: both;
	text-align: right
}

footer p {
	padding: 20px;
	color: #FFF
}

address {
	padding: 10px 20px 30px 10px
}

#main {
	margin-left: 200px;
	margin-right: 200px;
	padding-top: 80px;
}

#header {
	max-width: 1900px;
	overflow: hidden;
	height: 40px
}

.socialButtons {
	float: right;
	padding-top: 8px
}

.socialButtons a {
	display: inline-block;
	cursor: pointer;
	background: #2a5e1e;
	padding: 2px;
	width: 70px;
	text-align: center;
	height: 20px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	line-height: 20px;
	font-size: 13px;
	border-radius: 5px;
	vertical-align: middle
}
